<div id="" {{{UniqueName}}} "">
    This component has UniqueName = ""{{{UniqueName}}}""

    <div>
        MyInt: {{MyInt}}
    </div>

    <div>
        MyString: {{MyString}}
    </div>
    
    <div>
        MyList:
        <ul>
            {{#each MyList}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

</div>
