<div id="" {{{UniqueName}}} "">
    This component has UniqueName = ""{{{UniqueName}}}""

    <div>
        MyInt: {{MyInt}}
    </div>

    <div>
        MyString: {{MyString}}
    </div>

    <div>
        MyList:
        <ul>
            {{#each MyList}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div>
        Radio group:
        {{#each MyRadioButtonList}}
        <span>{{this}}</span>
        {{/each}}
    </div>

    <div>
        MyDropDownList: {{{MyDropDownList}}}
    </div>

    <div>
        MyButton: {{{MyButton}}}
    </div>
</div>