@page

@using MyExampleApplication.Pages

@model IndexModel

<script src="~/js/index.js" asp-append-version="true"></script>

<a href="BarberAppointment">Barber Appointment</a>

<h1>Components Test</h1>

<hr />

<h2>JSVTextDisplay</h2>
<input id="hf_JSVTextDisplay_InstanceJson" type="hidden" value="@Model.JSVTextDisplay_InstanceJson" />
<div id="JSVTextDisplay_Placeholder"></div>

<h2>JSVTextInput</h2>
<input id="hf_JSVTextInput_InstanceJson" type="hidden" value="@Model.JSVTextInput_InstanceJson" />
<div id="JSVTextInput_Placeholder"></div>

<h2>JSVTextArea</h2>
<input id="hf_JSVTextArea_InstanceJson" type="hidden" value="@Model.JSVTextArea_InstanceJson" />
<div id="JSVTextArea_Placeholder"></div>

<h2>JSVCheckbox</h2>
<input id="hf_JSVCheckbox_InstanceJson" type="hidden" value="@Model.JSVCheckbox_InstanceJson" />
<div id="JSVCheckbox_Placeholder"></div>

<h2>JSVButton</h2>
<input id="hf_JSVButton_InstanceJson" type="hidden" value="@Model.JSVButton_InstanceJson" />
<div id="JSVButton_Placeholder"></div>

<h2>JSVSlider</h2>
<input id="hf_JSVSlider_InstanceJson" type="hidden" value="@Model.JSVSlider_InstanceJson" />
<div id="JSVSlider_Placeholder"></div>

<hr />



